<%= render "shared/user/navbar" %>

<%= render "home/partials/categoriesBtn" %>

<div class="top-products-con mb-5">
    <div class="tp-top-h">
        <h3>Top selling <span>items</span></h3>
    <%= link_to products_path do %>
    <span>View All</span>
    <i class="fa-solid fa-greater-than"></i>
    <% end %>
    </div>
    
    <%= render '/shared/user/products' %>
</div>

<!-- Top categories -->
<%= render "home/partials/categorieswithimage" %>










