<%= render "shared/user/navbar" %>

<%= render "home/partials/categoriesBtn" %>

<div class="top-products-con mb-5">
    <div class="tp-top-h">
        <h3>Top selling <span>items</span></h3>
    <%= link_to products_path do %>
    <span>View All</span>
    <i class="fa-solid fa-greater-than"></i>
    <% end %>
    </div>
    
    <%= render '/shared/user/products', obj:@products %>
</div>

<!-- Top categories -->
<%= render "home/partials/categorieswithimage" %>

<div class="top-categories-con mt-3">
    <div class="tp-top-h">
        <h3>Latest <span>Items</span></h3>
    </div>
    <%= render '/shared/user/products', obj:@latestcatproducts %>
    </div>












