<%= form_with(model: [:admin, @product, admin_stock]) do |form| %>
  <% if admin_stock.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_stock.errors.count, "error") %> prohibited this admin_stock from being saved:</h2>

      <ul>
        <% admin_stock.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="crud-form ">

     <div class="stock-input">
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div class="stock-input">
    <%= form.label :size, style: "display: block" %>
    <%= form.text_field :size %>
  </div>

  <div class="c-btn">
    <%= form.submit %>
  </div>
  </div>  
<% end %>
