<%= form_with(model: [:admin,admin_category]) do |form| %>
  <% if admin_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_category.errors.count, "error") %> prohibited this admin_category from being saved:</h2>

      <ul>
        <% admin_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="crud-form">
    <div class="name-and-img-flex">
      <%= form.text_field :name, placeholder:"Category name" %>
      <div>
        
        <div class="image-upload">
          <label for="file-input">
            <i class="fa fa-camera" aria-hidden="true"></i>
          </label>
      
         <%= form.file_field :categoryImage, id:"file-input" %>
      </div> 

      </div>
    </div>
  
  

  <div>
    <%= form.text_area :description, placeholder:"Say something about it.." %>
  </div>
   
  <div class="c-btn">
    <%= form.submit %>
  </div>
  </div>  
<% end %>
