<section class="crud">
  <div class="c-top pd">
    <h2>
      <%= product.name %>
    </h2>
    <button type="button">
      <%= link_to "Back" , admin_products_path %>
    </button>
  </div>


  <div class="c-details">
    <div class="c-details-tn pd-tns-flex">
      <% if product.productImages.any? %>
        <% product.productImages.each do |image| %>
          <%= image_tag(image) %>
            <% end %>
              <% else %>
                <%= image_tag("http://via.placeholder.com/300", class:"crud-image") %>
                  <% end %>
    </div>

    <div class="price-category mt-3">
      <p class="btn btn-info text-white">
        ₦<%= product.price %>
      </p>

      <%= link_to admin_product_stocks_path(product), class:"btn btn-warning" do %>
        <span>Stocks</span>
        <i class="fa fa-cart" aria-hidden="true"></i>
        <% end %>

          <p class="btn btn-secondary text-white">
            <%= product.category.name %>
          </p>
    </div>

    <p class="pd-box">
      <%= product.description %>
    </p>



  </div>

</section>