<p style="color: green"><%= notice %></p>

<%= render @admin_product %>

<div>
  <%= link_to "Edit this product", edit_admin_product_path(@admin_product) %> |
  <%= link_to "Back to products", admin_products_path %>

  <%= button_to "Destroy this product", [:admin,@admin_product], method: :delete %>
</div>
